form.signup,
form.login {
  margin-top: 50px;
}
body {
  background-image: url(../assets/stars.jpg);
  align-self: center;
  background-size: cover;
  height: 100%;
}

.container-fluid {
  background: rgb(56, 9, 10);
}
.navbar {
  margin-bottom: 0px;
  border: none;
  background-color: #f0f5f9 !important;
}
.navbar-brand {
  font-weight: 700;
  font-size: 35px;
  /* Fallback: Set a background color. */
  background-color: #03045e;

  /* Create the gradient. */
  background-image: linear-gradient(
    #83e377,
    #80ffdb,
    #64dfdf,
    #48bfe3,
    #5390d9,
    #03045e
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav {
  font-weight: 500;
}

#matchpage {
  font-family: monospace;
  text-align: center;
  background: rgb(56, 9, 10);
  color: rgb(232, 93, 4);
  border: none;
}
.results-card {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.thisclass {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.space {
  display: flex;
}
.yoursign {
  display: flex;
  align-self: center;
  align-content: flex-start;
  color: rgb(232, 93, 4);
  font-size: 28px;
}
.partnersign {
  display: flex;
  align-self: center;
  align-content: flex-start;
  color: rgb(232, 93, 4);
  font-size: 28px;
}
.yourImg {
  display: flex;
  justify-content: start;
}
.theirImg {
  display: flex;
  justify-content: end;
}
.match {
  display: flex;
  font-size: 28px;
  align-self: start;
  text-align: center;
}
.comp {
  display: flex;
  justify-content: center;
}
.card-header {
  display: flex;
  align-self: center;
  font-size: 34px;
  text-decoration: underline;
}
.card-text {
  font-size: 24px;
  text-align: center;
}
/* signup */

.header-signup,
.login-option,
.signup-option,
.login-header {
  color: #f0f5f9;
}
.header-signup,
.login-header {
  margin-top: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #f0f5f9;
}
/* login */
.login-btn,
.signup-btn {
  background-color: #f0f5f9;
  color: #03045e;
  border-color: #f0f5f9;
  border-radius: 3px;
}

/* members */
.scopes,
.past-search-section,
.member-header,
.navbar,
.login-header,
.header-signup {
  font-family: "Rajdhani", sans-serif;
}

.scopes {
  margin: 30px;
  background-color: #f0f5f9;
  align-items: center;
  overflow: scroll;
}
.date {
  font-weight: 600;
  margin-top: 25px;
  text-align: end;
}
.past-search-section {
  text-align: center;
  align-self: center;
}
.member-header {
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #f0f5f9;
}
.label {
  font-weight: 600;
  display: inline;
}
.color-name {
  display: inline;
}
.past-date {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
}
.past-search-header {
  font-weight: 700;
  margin: 30px;
  color: #f0f5f9;
}

.past-description {
  font-weight: 600;
}

.sign-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  width: 10%;
  height: 30%;
}
.save {
  background-color: #03045e;
  color: #f0f5f9;
  border-color: #03045e;
  text-align: right;
}
.scope-list {
  max-height: 500px;
  overflow: scroll;
}

label {
  color: white;
}

.theday {
  font-size: 25px;
  font-weight: 500;
  color: #03045e;
}
